body{
  background-image: url("https://wallpapercave.com/wp/wp3627011.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.panel{
  background-color: black;
}
.panel .panel-body{
  color: white;
}
