{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Margarine" rel="stylesheet">
    {% endblock %}
    <title>Awwwards</title>
  </head>
  <body style="background-image:url('https://images.unsplash.com/photo-1447935353796-658d8a8a846d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');background-repeat:no-repeat">
    {%block content%}
    <div class="container">
      <br>
      <br>
      <br>
      <div class="row" style="float:right;">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-12" style="background-color:white;height:600px;">
          <br>
          <br>
          <br>
          <br>
          <br>
          <h2 align="center">Awwwards</h2>
          <br>
          <br>
          <br>
          {% if form.errors %}
            <p> Password or Username is incorrect </p>
          {% endif %}
          <div class="panel panel-default" style="background-color:black;">

            <div class="panel-heading">
              <h3 class="text-center">Sign In</h3>
            </div>
            <div class="panel-body" style="color:white">

              <form  action="/accounts/login/" method="post">
                {% csrf_token %}
                {% bootstrap_form form%}

                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-sm" value="Login">
                </div>

                <input type="hidden" name="next" value="{{next}}">

              </form>

            </div>
               <p  style="color:white;" align="center">If you don't have an account <br> you can <a href="/accounts/register/" style="color:#80D3E8">Signup</a></p>
          </div>

        </div>
        <!-- empty div -->
        <div class="col-md-4"></div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
