{%extends 'base.html'%}
{% load bootstrap3 %}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Margarine" rel="stylesheet">
  {% endblock %}
  <title>Awwards</title>
</head>

<body>
  {%block content%}
  {{blocksuper}}
  <hr>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <a href="https://preview.themeforest.net/item/picante-restaurant-food-wordpress-theme/full_screen_preview/22201774" target="_blank"><img src="https://i.pinimg.com/564x/67/40/c1/6740c17fafd5a991b85a7bb3c405409b.jpg"></a>
        <a href="http://ld-wp.template-help.com/wordpress_58988/" target="_blank"><img src="https://i.pinimg.com/564x/f1/6c/f1/f16cf1904d1674f1e4ba51de02735eb0.jpg" height=1496px width=564px>
        </a>
      </div>
    </div>

  </div>

  {%endblock%}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
