{%extends 'base.html'%}
{% load bootstrap3 %}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {%block styles%}
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  {%endblock%}
  <title></title>
</head>

<body>
  {%block content%}
  {{blocksuper}}
  <div class="container">
    <form style="float:left;" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search project" aria-label="Search">
      <button style="background-color:black;color:white" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="jumbotron" style="float:right; background-color:black">
      <p style="color:white;">To post a project click the button below</p>
      <a style="color:white;href=" {%url 'postprojects' %}"><button style="color:black;" type="button" class="btn btn-basic" name="button">Post Project</button></a>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        {%for project in project%}
        <div class="panel panel-danger" align="center">
          <div class="panel-heading" style="color:black;">
            <h3>{{project.title}}</h3>
            <p>{{project.description}}</p>
          </div>
          <div class="panel-body">
            <a href="{{projects.link}}" target="_blank"><img src="{{project.landingpic.url}}" width=500px></a>
          </div>
          <div class="panel-footer">
            <p>Username :{{project.user}}</p>
          </div>

        </div>
        {%endfor%}
      </div>

    </div>
  </div>

  {%endblock%}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
